In [1]:
print("Hello")

Hello

In [2]:
import pandas as pd
df = pd.read_csv("META.csv")
print(df.head())

         Date        Open        High         Low       Close   Adj Close  \
0  2018-01-03  181.880005  184.779999  181.330002  184.669998  184.669998
1  2018-01-04  184.899994  186.210007  184.100006  184.330002  184.330002
2  2018-01-05  185.589996  186.899994  184.929993  186.850006  186.850006
3  2018-01-08  187.199997  188.899994  186.330002  188.279999  188.279999
4  2018-01-09  188.699997  188.800003  187.100006  187.869995  187.869995

     Volume
0  16886600
1  13880900
2  13574500
3  17994700
4  12393100

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1509 entries, 0 to 1508
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1509 non-null   object
 1   Open       1509 non-null   float64
 2   High       1509 non-null   float64
 3   Low        1509 non-null   float64
 4   Close      1509 non-null   float64
 5   Adj Close  1509 non-null   float64
 6   Volume     1509 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 82.6+ KB

In [4]:
df.describe()
df.show()

AttributeError: 'DataFrame' object has no attribute 'show'

In [5]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1509.000000,1509.000000,1509.000000,1509.000000,1509.000000,1.509000e+03
mean,225.073857,228.245838,222.095328,225.212200,225.212200,2.414811e+07
std,68.302017,68.897817,67.640720,68.291138,68.291138,1.628735e+07
min,90.080002,90.459999,88.089996,88.910004,88.910004,5.467500e+06
25%,174.500000,176.899994,172.039993,174.600006,174.600006,1.539570e+07
50%,202.179993,204.910004,199.669998,202.259995,202.259995,2.008990e+07
75%,279.190002,285.239990,276.309998,281.000000,281.000000,2.788780e+07
max,381.679993,384.329987,378.809998,382.179993,382.179993,2.323166e+08

In [6]:
df.show()

AttributeError: 'DataFrame' object has no attribute 'show'

In [7]:
df.describe()
df.shape()

TypeError: 'tuple' object is not callable

In [8]:
df.shape()

TypeError: 'tuple' object is not callable

In [9]:
df.shape

(1509, 7)